<form action="<%= new_student_path%>">
    <label for="student_first_name">"Student's First Name"
    <input type="text" id="student_first_name" name="student[first_name]">
    <label for="student_first_name">"Student's Last Name"
    <input type="text" id="student_first_name" name="student[first_name]">
</form>