<form action="<%= new_student_path%>">
    <label for="student_first_name">"Student's First Name"
    <input type="text" id="student_first_name" name="student[first_name]">
    <label for="student_last_name">"Student's Last Name"
    <input type="text" id="student_last_name" name="student[last_name]">
    <input type="submit" value="Submit">
</form>